{
  "resources":[],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine"
  },
  "buildDirs":[],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}