{
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    },
    {
      "path":"assets/gui/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine"
  },
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"dev/"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[
    {
      "path":"java/"
    }
  ]
}